<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UNSInfra.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="liveview">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> Data Model
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-configuration">
                <span class="bi bi-hdd-network" aria-hidden="true"></span> Data Connections
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="namespaces">
                <span class="bi bi-folder-fill" aria-hidden="true"></span> Namespaces
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="connection-status">
                <span class="bi bi-activity" aria-hidden="true"></span> Connection Status
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

    </nav>
</div>

